
.card {
    width: 475px;
    height: 200px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.profile {
    width: 100%;
    display: flex;
    gap: 20px;
}

.profile img {
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
    height: 50px;
}

.stars {
    width: 12px;
}