.imovel-header{
    display: grid;
    grid-template-columns: 5fr 2fr;
    padding: 0 80px;
}

.imovel-header ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.imovel-header ul li {
    display: flex;
    gap: 12px;
}

.images {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-areas: 
        "img1 img2 img3"
        "img1 img4 img5";
    gap: 10px;
    border-radius: 16px;
    margin: 0 80px;
    overflow: hidden;
    height: 40%;
}

.img1 {
    grid-area: img1;
    height: 100%;
}

.img2 {
    grid-area: img2;
}

.img3 {
    grid-area: img3;
}

.img4 {
    grid-area: img4;
}

.img5 {
    grid-area: img5;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
}   