.imovel-header{
    display: grid;
    grid-template-columns: 5fr 2fr;
    padding: 20px 160px;
    align-items: center;
}

.imovel-header ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.imovel-header ul li {
    display: flex;
    gap: 12px;
}

.imovel-header h1 {
    font-size: 1.7rem;
}

.titulo-imovel {
    margin: 0 80px;
}


.descricao-imovel {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 0 80px;
    margin-top: 40px;
    padding: 34px 0px;
    font-size: 16px;
    border-top: 1px solid #b5b2b2;
    border-bottom: 1px solid #b5b2b2;
}


.icone-descricao-imovel {
    margin-top: 10px;
}


.mostrar-mais-imovel {
    text-decoration: underline 1px;
    cursor: pointer;
}

.oferece-imovel {
    margin: 0 80px;
    margin-top: 50px;
    font-family: 'Poppins', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.oferece-imovel h3 {
    color: #222222;
    font-size: 24px;
}

.lista-imovel {
    display: flex;
    flex-direction: row;
    gap: 120px;
    margin-top: 12px;
}

.coluna-lista {
    display: flex;
    flex-direction: column;
    gap: 22px;
    font-size: 18px;
}

.coluna-lista li {
    display: flex;
    align-items: center;
}

.coluna-lista-1 li {
    width: 300px;
}


.coluna-lista span {
    font-size: 20px;
    padding: 0px 8px 0px 0px;
}

.mapa {
    margin-top: 20px;
    width: 70%;
    display: grid;
    height: 550px;
    place-items: center;
    grid-template-rows: auto 1fr;
    margin: auto;
}

.mapa h3 {
    align-self: start;
    justify-self: start;
    margin-bottom: 10px;
}

.mapa iframe {
    height: 450px;
    width: 100%;
    border: 0;
}


.p-imovel {
    display: flex;
    font-size: 16px;
    width: 300px;
    margin-top: 14px;
    padding: 13px 23px;
    border: 1px solid #000;
    text-align: center;
    border-radius: 6px;
    cursor: pointer;
}

.images {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-areas: 
        "img1 img2 img3"
        "img1 img4 img5";
    gap: 10px;
    border-radius: 16px;
    margin: 0 160px;
    overflow: hidden;
    height: auto;
}

.images img:hover{
    cursor: pointer;
    filter: brightness(80%);
    transition: all .5s;
}

img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.img1 {
    grid-area: img1;
    height: 100%;
}

.img2 {
    grid-area: img2;
}

.img3 {
    grid-area: img3;
}

.img4 {
    grid-area: img4;
}

.img5 {
    grid-area: img5;
}

.conteudoPrincipal {
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: 1280px;
    margin: 40px auto;
}

.avaliacoes {
    border-top: 1px solid rgba(88, 88, 88, 0.322);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 40px 0px;
    width: 1120px;
    margin: 40px auto;
    border-bottom: 1px solid rgba(88, 88, 88, 0.322);
}


.conteudoPrincipalLadoDireito {
    display: flex;
    flex-direction: column;
    width: 372px;
    height: 494px;
}

.reserva {
    padding: 24px;
    border-radius: 10px;
    border: 1px solid rgba(184, 184, 184, 0.425);
    box-shadow: 0px 5px 10px rgba(181, 181, 181, 0.61);
}

.precoPorNoite {
    display: flex;
    align-items: center;
    gap: 5px;
    height: 50px;
}

.precoPorNoite h1 {
    font-size: 22px;
    font-weight: 600;
}

.precoPorNoite span {
    font-size: 16px;
}

.checkInOut {
    display: flex;
    width: 100%;
    height: 56px;
    margin-top: 15px;
}

.botaoCheck {
    display: flex;
    flex-direction: column;
    width: 100%;
    cursor: pointer;
    padding: 8px 12px 10px;
    background-color: transparent;
    border: 1px solid rgba(119, 119, 119, 0.705);
    font-size: 10px;
    font-weight: bold;
}

.botaoCheck span {
    font-size: 14px;
    font-weight: 500;
}

.botaoCheck.In {
    border-top-left-radius: 10px;
    border-right: none;
}

.botaoCheck.Out {
    border-top-right-radius: 10px;
}

.botaoHospedes {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 56px;
    padding: 8px 36px 10px 12px;
    cursor: pointer;
    background-color: transparent;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid rgba(119, 119, 119, 0.705);
    border-top: none;
    font-size: 10px;
    font-weight: bold;
}

.botaoHospedes span {
    font-size: 14px;
    font-weight: 500;
}

.botaoHospedes div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.botaoReservar {
    width: 100%;
    height: 48px;
    margin-top: 15px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background: rgb(229, 29, 78);
    background: linear-gradient(90deg, rgba(229, 29, 78, 1) 0%, rgba(215, 5, 101, 1) 100%);
    cursor: pointer;
}

.botaoReservar:hover {
    transition: 0.5s;
    background: rgb(229, 29, 78);
    background: linear-gradient(270deg, rgba(229, 29, 78, 1) 0%, rgba(215, 5, 101, 1) 100%);
}

p.aviso {
    display: flex;
    justify-content: center;
    margin-top: 16px;
    font-size: 14px;
}

.precosPlano {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
}

p.precoSublinhado {
    text-decoration: underline;
    cursor: pointer;
}

.total {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
    padding-top: 24px;
    border-top: solid 1px rgba(146, 146, 179, 0.26);
    font-weight: 500;
}

.denuncia {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
    gap: 15px;
    color: #6A6A6A;
}

.denuncia a {
    color: #6A6A6A;
    font-weight: 600;
    font-size: 14px;
}

.descricao-localizacao {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 70%;
    margin: auto;
}

.descricao-localizacao p {
    margin: 0;
}

.informacoes {
    display: flex;
    flex-direction: column;
    margin: 50px 160px;
    padding: 30px 0;
    border-bottom: 1px solid #b5b2b2;
    border-top: 1px solid #b5b2b2;
}

.informacoes h3 {
    font-size: 1rem;
    font-weight: 500;
}

.informacoes h5 {
    font-size: 1em;
    font-weight: 500;
}

.informacoes p, a {
    font-size: 1em;
    font-weight: normal;
    color: #000;
    margin: 5px 0;
}

.informacoes a {
    display: inline-flex;
    align-items: center;
}
.topicos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}

@media screen and (min-width: 768px){
    .imovel-header {
        padding: 0;
        place-items: center;
        padding: 24px 0;
        margin: 0 40px;
    }

    .imovel-header h1 {
        font-weight: 500;
        font-size: 26px;
    }
    
    .imovel-header ul li {
        font-size: 14px;
        gap: 4px;
    }

    .imovel-header ul {
        gap: 10px;
    }

    .images {
        height: 350px;
        margin: 0 40px;
    }

    .img1, .img2, .img3, .img4, .img5{
        height: 100%;
    }

    .conteudoPrincipal {
        width: 770px;
        grid-template-columns: 2fr 2fr;
        justify-items: center;
    }
    .oferece-imovel {
        font-size: 14px;
        height: auto;
        width: 400px;
        margin: 20px 40px;
    }

    .lista-imovel{
        flex-direction: column;
        gap: 16px;
    }
    
    .lista-imovel li {
        font-size: 14px;
    }

    .titulo-imovel{
        margin: 0 40px;
    }

    .titulo-imovel h2 {
        font-weight: 500;
        margin-bottom: 12px;
    }

    .avaliacoes {
        width: 770px;
    }
    
    .conteudoPrincipalLadoDireito {
        width: 230px;
        height: 494px;
        font-size: 14px;
    }

    .conteudoPrincipal article {
        width: 400px;
    }

    .descricao-imovel {
        height: 280px;
        text-overflow: ellipsis;
        overflow: hidden;
        margin: 0 40px;
    }

    .avaliacoes{
        width: 700px;
        grid-template-columns: 1fr;
    }
}