.imovel-header{
    display: grid;
    grid-template-columns: 5fr 2fr;
    padding: 0 80px;
}

.imovel-header ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.imovel-header ul li {
    display: flex;
    gap: 12px;
}

.images {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-areas: 
        "img1 img2 img3"
        "img1 img4 img5";
    gap: 10px;
    border-radius: 16px;
    margin: 0 80px;
    overflow: hidden;
    height: 40%;
}

.images img:hover{
    cursor: pointer;
    filter: brightness(80%);
    transition: all .5s;
}

img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.img1 {
    grid-area: img1;
    height: 100%;
}

.img2 {
    grid-area: img2;
}

.img3 {
    grid-area: img3;
}

.img4 {
    grid-area: img4;
}

.img5 {
    grid-area: img5;
}
.avaliacoes {
    border-top: 1px solid rgba(88, 88, 88, 0.322);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 40px 0px;
    width: 1120px;
    margin: 40px auto;
}

.price-card {
    display: grid;
    width: 372px;
    height: 494px;
    padding: 24px;
    grid-template-columns: 1fr;
    gap: 16px;
}

.price {
    font-size: 24px;
}

.price-card form > .inputs-check {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.inputs-check .check{
    border-radius: 8px;
    border: 1px solid rgba(61, 61, 61, 0.453);
    padding: 8px;
}

.price-card input{
    width: 100%;
    border: none;
}

.inputs-check .check label {
    font-size: 12px;
    font-weight: bold;
}

.hospedes-div{
    display: flex;
    flex-direction: column;
}

.price-card form > div > label {
    justify-self: start;
}

.price-card form > div > input {
    width: 100%;
}

.price-card form {
    display: grid;
    gap: 16px;
}

.price-card button {
    width: 100%;
}

.price-card div ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
    list-style: none;
}

.price-card div h3 {
    display: flex;
    justify-content: space-between;
}